---
import Layout from "@/layouts/Layout.astro";
import { getCollection, getEntryBySlug } from "astro:content";
import Typography from "../../components/Typography.astro";

type Params = {
	slug: string;
};

export async function getStaticPaths() {
	const blogPosts = (await getCollection("blog")) ?? [];
	return blogPosts.map((post) => ({
		params: {
			slug: post.slug,
		},
	}));
}

const { slug } = Astro.params as Params;

const post = await getEntryBySlug("blog", slug);

if (!post) {
	return Astro.redirect("/404");
}

const { data } = post;
const { Content } = await post.render();
const formatter = new Intl.DateTimeFormat("en-GB");
const date = formatter
	.format(data.publishedAt) // returns a string in the format "dd/MM/yyyy"
	.replaceAll("/", ".");
---

<Layout title={data.title} pageType="article">
	<header class="container mb-3">
		<div class="mb-3">
			<Typography component="a" href="/" class="text-muted-foreground no-underline inline-block text-lg">
				← home
			</Typography>
		</div>
	</header>
	<article class="post-content ">
		<header class="mb-8">
			<Typography component="h1"
						class="text-3xl md:text-5xl font-semibold mb-1 md:mb-3 tracking-tight">{data.title}</Typography>
			<Typography component="p"
						class="text-xl md:text-2xl text-muted-foreground mb-0.5 md:mb-1 tracking-tight">{data.summary}</Typography>
			<div class="flex items-center text-muted-foreground text-sm tracking-tight">
				<Typography component="time" datetime={date}>{date}</Typography>
				<Typography class="relative bottom-px">&ensp;|&ensp;</Typography>
				<Typography component="span">
					{data.minutesToRead} min read
				</Typography>
			</div>
		</header>
		<div class="prose prose-neutral prose-a:text-white prose-a:underline-offset-4 ">
			<Content />
		</div>
	</article>
</Layout>
